.login{
    background-color: #ADD8E6;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
 }

 .area-login{
    display: flex;
    justify-content: center;
    align-items: center;
}