body{
    overflow-x: hidden;
}
main {
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    width: 100%;
    margin: 0px;
    background-color: #ADD8E6;
    padding-left: 25px;
    padding-bottom: 25px;

}

header {
    background-color: #ADD8E6;
    margin: 0px;
    width: 100%;
    display:block; 
    position: relative;
    width: 100%;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
}

footer {
    font-size: smaller;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    width: 100%;
    background-color: #F8F9FA;
    padding: 15px;
}

.row {
    background-color: #ADD8E6;
}

.card {
    box-shadow: 3px 3px 5px;
    padding: 5px;
    margin: 5px;
}

.card:hover {
    transform: scale(1.02)
    
}

.card-img-top {
    height: fit-content;
    width: auto;

}

.card-title {
    font-weight: bold;
}

.card-text {
    justify-content: center;
    text-align: center;
}


#title {
    padding: 25px;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
}   


