main {
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    width: 100%;
    margin: 5px;
}

header {
    background-color: #ADD8E6;
    margin: auto;
    padding: 5px;
    width: 100%;
    display:block; 
    position: relative;
    width: 100%;
}
h2 {
    background-color: white;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.left-column {
    border-right: 5px solid  #ADD8E6 ;
    padding: 25px;
}

.center-column {
    padding: 25px;
    background-color: #F8F9FA;
}

.right-column {
    border-left: 5px solid  #ADD8E6 ;
    padding: 25px;
    position: fixed right;
    background-color: #F8F9FA;
}

.posts {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

#title {
    background-color: #ADD8E6;
    margin-bottom: 15px;;
}

#user-photo{
    max-width: 180px;
}

