body {
    color: #0000ff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ADD8E6;
    border: 3px solid #000000;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    display:block; 
    height: 70px;
    position: relative;
    box-sizing: content-box;
    text-decoration: none;

}

header div {
    width: 33%;
    float: left;
}

#div-pure{
    text-align: center;
}

#div-img{
    text-align: right;
}

#nav-icon{
    top: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 40px;
    padding: 15px;
}

#user-photo{
    max-width: 90px;
}

#menu-column {
    float: left;
}

#user-posts {
    text-align: center;
    
}

#user-column {
    float: right;
}


